name: Ejecutar tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check code
        uses: actions/checkout@v3

      - name: Setup node js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Install nx
        run: npm install -g nx

      - name: Exec Auth test
        run: nx test auth

      - name: Exec Transactions test
        run: nx test transactions
